*{
 font-family: "Courier New";  
  
}
h1 ,h3{
    color:brown
}
#login{
    background-color:white;
}
#singup{
    background-color: brown;
    color:white

}
.upvote{
    background-color: green;
}
 a{
    color:brown;
    background-color: yellow;

}

    p+h3 {
        text-decoration: underline;
}
.upvote +button{
    background-color: cornflowerblue;


}
button:hover{
    background-color: black;
    color:white;
} 
button:active{
    background-color:hotpink;
    color:black

}
p:active{
    font-weight:bold;
    color:green;

}
h1::first-letter {
    color:green
}
h3 {
    background-color: yellow;
}
h3{
    background-color: blue;

}



